<%- include('../layouts/head.ejs') %>
  </head>

  <body class="bg-light">
    <div class="container-fluid">
      <div class="row bg-dark shadow-sm">
        <div class="col-md-2 d-flex justify-content-center align-items-center">
          <img src="/image/Logo_Dai_hoc_Can_Tho.png" alt="logo" height="75px" class="mt-1">
        </div>
        <div class="col-md-10 text-white text-center py-3">
          <h3 class="text-uppercase">Hệ thống quản lý ký túc xá</h3>
        </div>
      </div>

      <div class="row">
        <div class="col-md-2 g-0">
          <%- include('../layouts/sidebar.ejs') %>
        </div>

        <div class="col-md-7 border-end border-black p-3 bg-white">
          <% if (successMessage || errorMessage) { %>
            <div class="position-fixed top-0 end-0 p-3" style="z-index: 1050;">
              <% if (successMessage) { %>
                <div class="alert alert-success alert-dismissible fade show shadow rounded" role="alert">
                  <h5 class="mb-0">
                    <i class="bi bi-check-circle-fill me-2"></i>
                    <%= successMessage %>
                  </h5>
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                <% } %>
                  <% if (errorMessage) { %>
                    <div class="alert alert-danger alert-dismissible fade show shadow rounded mt-2" role="alert">
                      <h5 class="mb-0">
                        <i class="bi bi-x-circle-fill me-2"></i>
                        <%= errorMessage %>
                      </h5>
                      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    <% } %>
            </div>
            <% } %>

              <h3 class="text-center my-2 text-uppercase">Danh sách nhân viên</h3>

              <div class="border rounded shadow-sm p-3 bg-white" style="max-height: 75vh; overflow-y: auto;">
                <table class="table table-hover rounded table-bordered text-center align-middle">
                  <thead class="table-dark text-white position-sticky" style="top: 0; z-index: 900;">
                    <tr>
                      <th scope="col">Mã nhân viên</th>
                      <th scope="col">Họ tên</th>
                      <th scope="col">Số điện thoại</th>
                      <th scope="col">Ghi chú</th>
                      <th scope="col">Thao tác</th>
                    </tr>
                  </thead>
                  <tbody class="table-striped">
                    <% allEmployees.forEach(employee=> { %>
                      <tr class="table-light">
                        <td class="fw-bold">
                          <%= employee.MaNhanVien %>
                        </td>
                        <td>
                          <%= employee.HoTen %>
                        </td>
                        <td>
                          <%= employee.SoDienThoai %>
                        </td>
                        <td class="text-truncate" style="max-width: 150px;">
                          <%= employee.GhiChu %>
                        </td>
                        <td>
                          <form action="/delete-employees" method="POST" class="d-inline">
                            <a href="/edit-employees/<%= employee.MaNhanVien %>?edit=true"
                              class="btn btn-sm btn-warning shadow-sm" style="width: 35px; height: 35px;">
                              <i class="bi bi-pencil-square" style="font-size: 18px;"></i>
                            </a>
                            <input type="hidden" value="<%= employee.MaNhanVien %>" name="maNhanVien">
                            <button type="submit" class="btn btn-sm btn-danger shadow-sm"
                              style="width: 35px; height: 35px;">
                              <i class="bi bi-trash" style="font-size: 18px;"></i>
                            </button>
                          </form>
                        </td>
                      </tr>
                      <% }) %>
                  </tbody>
                </table>
              </div>
        </div>

        <div class="col-md-3">
          <div class="card shadow-sm border p-3">
            <h4 class="text-center mt-2 mb-3 text-uppercase text-success fw-bold">Thông tin nhân viên</h4>
            <div class="border rounded p-3 bg-white shadow-sm">
              <form action="/<% if(editing) {%>update-employees<% } else {%>add-employees<% } %>" method="POST">
                <div class="mb-3">
                  <label for="maNhanVien" class="form-label fw-bold">Mã nhân viên</label>
                  <input type="text" id="maNhanVien" name="maNhanVien" required class="form-control shadow-sm"
                    placeholder="Nhập mã nhân viên..." value="<% if(editing) { %><%= editEmployee.MaNhanVien %><% } %>"
                    <% if(editing) { %>readonly<% } %>>
                </div>
                <div class="mb-3">
                  <label for="hoTen" class="form-label fw-bold">Họ tên</label>
                  <input type="text" id="hoTen" name="hoTen" required class="form-control shadow-sm"
                    placeholder="Nhập họ tên..." value="<% if(editing) { %><%= editEmployee.HoTen %><% } %>">
                </div>
                <div class="mb-3">
                  <label for="soDienThoai" class="form-label fw-bold">Số điện thoại</label>
                  <input type="text" id="soDienThoai" name="soDienThoai" required class="form-control shadow-sm"
                    placeholder="Nhập số điện thoại..."
                    value="<% if(editing) { %><%= editEmployee.SoDienThoai %><% } %>">
                </div>
                <div class="mb-3">
                  <label for="ghiChu" class="form-label fw-bold">Ghi chú</label>
                  <textarea id="ghiChu" name="ghiChu" class="form-control shadow-sm"
                    placeholder="Nhập ghi chú..."><% if(editing) { %><%= editEmployee.GhiChu %><% } %></textarea>
                </div>
                <button type="submit" class="btn btn-primary w-100 shadow-sm">
                  <%= editing ? 'Cập nhật' : 'Thêm' %>
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%- include('../layouts/end.ejs') %>